```
admin@sonic:~$ sudo config reload -y
Acquired lock on /etc/sonic/reload.lock
Stopping SONiC target ...
fffRunning command: /usr/local/bin/sonic-cfggen -j /etc/sonic/init_cfg.json -j /etc/sonic/config_db.json --write-to-db                                                                                                                                                                     Running command: /usr/local/bin/db_migrator.py -o migrate                                                                                                                                                                                                                                  Running command: /usr/local/bin/sonic-cfggen -d -y /etc/sonic/sonic_version.yml -t /usr/share/sonic/templates/sonic-environment.j2,/etc/sonic/sonic-environment
Restarting SONiC target ...
Reloading Monit configuration ...
Reinitializing monit daemon
Released lock on /etc/sonic/reload.lock
admin@sonic:~$ ^C
admin@sonic:~$ sudo vim /etc/sonic/config_db.json 
[ ... Edit VLAN ID of Vlan220 to 230 ... ]
admin@sonic:~$ sudo show vlan brief
+-----------+--------------+---------+----------------+-------------+-----------------------+
|   VLAN ID | IP Address   | Ports   | Port Tagging   | Proxy ARP   | DHCP Helper Address   |
+===========+==============+=========+================+=============+=======================+
|       220 |              |         |                | disabled    |                       |
+-----------+--------------+---------+----------------+-------------+-----------------------+
admin@sonic:~$ sudo vim /etc/sonic/config_db.json 
[ ... Edit Rename Vlan220 to Vlan230 ... ]
admin@sonic:~$ sudo config reload -y
Acquired lock on /etc/sonic/reload.lock
SwSS container is not ready. Retry later or use -f to avoid system checks
Released lock on /etc/sonic/reload.lock
admin@sonic:~$ sleep 60 # in wirklichkeit einfach nur gewartet (?)

```
